* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}

@media (max-width: 1024px) {
    .page {
        flex-direction: column;
        border-width: 10px;
    }
}

.blogging {
    background-color: rgb(240, 237, 237);
}

.titlePage {
    text-align: center;
    padding: 20px;
}

.page {
    display: flex;
    height: auto;
    min-height: 90vh;
}

.section {
    padding: 20px;
    border: 0px solid black;
    border-radius: 10%;
    flex-basis: 70%;
    margin: 20px;
    padding: 10px;
}

.publish {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 20px;
    grid-template-rows: auto;
    grid-template-columns: 50% 50%;
}

.form {
    background-color: rgb(206, 233, 233);
    padding: 20px;
    border: 0px transparent rgba(0, 0, 0, 0);
    border-radius: 10%;
    flex-basis: 30%;
    margin: 20px;
    max-height: 500px;
    min-width: 500x;
}

.titleForm {
    padding: 10px;
    text-align: center;
}

.box {
    padding: 10px;
}

.textStyle {
    padding: 30px;
}

.input {
    border: none;
    border: solid 1px #080606;
    border-radius: 10px;
    padding: 5px;
}

.textStyleImage {
    padding-left: 30px;
    padding-right: 20px;
}

.button {
    text-align: center;
    width: 15%;
    height: 30px;
    border: none;
    border: solid 1px #080606;
    border-radius: 10px;
    background-color: rgb(6, 8, 8);
    color: rgb(164, 241, 241);
    margin-left: 40%;
    margin-top: 20px;
}

.footer {
    text-align: center;
    padding: 10px;
}